*:focus
{
	outline:none;
}
a
{
	text-decoration:none;
}
.text-left
{
	text-align:left;
}
.text-center
{
	text-align:center;
}
.text-right
{
	text-align:right;
}
.divider-10 
{
    height: 15px;
}
.divider-15 
{
    height: 15px;
}
.divider-30
{
    height: 15px;
}
@media only screen and (min-width:801px)
{
	.page-content--centered
	{
		width:100%;
		max-width:1140px;
	}
}
@media only screen and (min-width:1200px)
{
	.container-lg
	{
		max-width:83.33333%;
	}
	.container-lg-p
	{
		padding:0 4.2rem;
	}
}
