// =============================================================================
// FOOTER (Settings)
// =============================================================================

$footer-background:                             stencilColor("footer-backgroundColor");
$footer-heading-fontColor:                      stencilColor("footer-heading-fontColor");

$epic-footer-heading-background:             stencilColor("epic_footer_heading_backgroundColor");
$epic-footer-background:                     stencilColor("epic_footer_backgroundColor");
$epic-footer-heading-font-size:              stencilNumber("epic_footer_heading_font_size");
$epic-footer-text-font-size:                 stencilNumber("epic_footer_text_font_size");
$epic-footer-heading-fontColor:              stencilColor("epic_footer_heading_textColor");
$epic-footer-heading-paragraph-fontColor:    stencilColor("epic_footer_heading_paragraph_textColor");
$epic-footer-fontColor:                      stencilColor("epic_footer_textColor");
$epic-footer-linksColor:                     stencilColor("epic_footer_linksColor");
$epic-footer-titleColor:                     stencilColor("epic_footer_titleColor");
$epic-footer-copyright-backgroundColor:      stencilColor("epic_copyright_backgroundColor");
$epic-footer-copyright-textColor:            stencilColor("epic_copyright_textColor");
$epic_footer_submit_button:                  stencilColor("epic_footer_submit_button");
$epic_footer_borderColor:                    stencilColor("epic_footer-border-color");
$btt_button_background:                      stencilColor("btt_button_background");
$btt_button_color:                           stencilColor("btt_button_color");
