<h4 class="col-title">
    {{lang 'epicHeader.information'}}
</h4>
<ul>
    <ul class="footer-info-list">
        {{#if theme_settings.ysw_footer_link_1_title}}
            <li>
                <a href="{{theme_settings.ysw_footer_link_1_url}}">
                    <i class="fas fa-angle-right"></i> {{theme_settings.ysw_footer_link_1_title}}
                </a>
            </li>
        {{/if}}

        {{#if theme_settings.ysw_footer_link_2_title}}
            <li>
                <a href="{{theme_settings.ysw_footer_link_2_url}}">
                    <i class="fas fa-angle-right"></i> {{theme_settings.ysw_footer_link_2_title}}
                </a>
            </li>
        {{/if}}

        {{#if theme_settings.ysw_footer_link_3_title}}
            <li>
                <a href="{{theme_settings.ysw_footer_link_3_url}}">
                    <i class="fas fa-angle-right"></i> {{theme_settings.ysw_footer_link_3_title}}
                </a>
            </li>
        {{/if}}

        {{#if theme_settings.ysw_footer_link_4_title}}
            <li>
                <a href="{{theme_settings.ysw_footer_link_4_url}}">
                    <i class="fas fa-angle-right"></i> {{theme_settings.ysw_footer_link_4_title}}
                </a>
            </li>
        {{/if}}

        {{#if theme_settings.ysw_footer_link_5_title}}
            <li>
                <a href="{{theme_settings.ysw_footer_link_5_url}}">
                    <i class="fas fa-angle-right"></i> {{theme_settings.ysw_footer_link_5_title}}
                </a>
            </li>
        {{/if}}

        {{#if theme_settings.ysw_footer_link_6_title}}
            <li>
                <a href="{{theme_settings.ysw_footer_link_6_url}}">
                    <i class="fas fa-angle-right"></i> {{theme_settings.ysw_footer_link_6_title}}
                </a>
            </li>
        {{/if}}

        {{#if theme_settings.ysw_footer_link_7_title}}
            <li>
                <a href="{{theme_settings.ysw_footer_link_7_url}}">
                    <i class="fas fa-angle-right"></i> {{theme_settings.ysw_footer_link_7_title}}
                </a>
            </li>
        {{/if}}
    </ul>
</ul>
