<div class="overlay-shop clean-overlay-shop">
    <button type="button" class="overlay-close">
        Close
    </button>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-3 info-col-1">
                {{> components/epicHeader/contact-info-header}}
            </div>
            <div class="col-lg-4 col-xl-2 info-col-2">
                {{> components/epicHeader/information}}
            </div>
            <div class="col-lg-4 col-xl-7 info-col-3">
                {{> components/epicHeader/about-us}}
            </div>
        </div>
    </div>
</div>
