<ul class="tabs hc-tabs row no-gutters" data-tab role="tablist" data-equalizer-watch>

    <li class="col tab-title is-active" role="presentational">
        <a href="#tab-about" role="tab" tabindex="0" aria-selected="true" controls="tab-about">
            <i class="fas fa-store"></i>
            <br>About Us
        </a>
    </li>

    <li class="col tab-title" role="presentational">
        <a href="#tab-return" role="tab" tabindex="0" aria-selected="false" controls="tab-return">
            <i class="fal fa-exchange"></i>
            <br>Return
        </a>
    </li>

    <li class="col tab-title" role="presentational">
        <a href="#tab-delivery" role="tab" tabindex="0" aria-selected="false" controls="tab-delivery">
            <i class="fal fa-truck"></i><br>Shipping
        </a>
    </li>

    <li class="col tab-title" role="presentational">
        <a href="#tab-payment" role="tab" tabindex="0" aria-selected="false" controls="tab-payment">
            <i class="fal fa-credit-card"></i>
            <br>Payment
        </a>
    </li>

    <li class="col tab-title" role="presentational">
        <a href="#tab-security" role="tab" tabindex="0" aria-selected="false" controls="tab-security">
            <i class="fas fa-shield-alt"></i>
            <br>Security & Privacy
        </a>
    </li>

    <li class="col tab-title" role="presentational">
        <a href="#tab-contact" role="tab" tabindex="0" aria-selected="false" controls="tab-contact">
            <i class="fal fa-phone"></i><br>Contact
        </a>
    </li>

</ul>

<div class="tabs-contents">

    <div role="tabpanel" aria-hidden="false" class="tab-content has-jsContent is-active" id="tab-about">
        <ul class="help-links">
            <li>
                <a href="/about/">
                    <i class="fas fa-angle-right"></i> Company Profile
                </a>
            </li>
            <li>
                <a href="/testimonials/">
                    <i class="fas fa-angle-right"></i> Customer Testimonials
                </a>
            </li>
            <li>
                <a href="/our-products/">
                    <i class="fas fa-angle-right"></i> Our Products
                </a>
            </li>
            <li>
                <a href="/color/">
                    <i class="fas fa-angle-right"></i> Color and Size Chart
                </a>
            </li>
        </ul>
    </div>

    <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent" id="tab-return">
        <ul class="help-links">
            <li>
                <a href="/return-exchange/"><i class="fas fa-angle-right"></i> Return and Exchange</a>
            </li>
        </ul>
    </div>

    <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent" id="tab-delivery">
        <ul class="help-links">
            <li>
                <a href="/shipping-info/">
                    <i class="fas fa-angle-right"></i> Shipping Rates and Options
                </a>
            </li>
            <li>
                <a href="/free-shipping/">
                    <i class="fas fa-angle-right"></i> Free Shipping
                </a>
            </li>
            <li>
                <a href="/shipping-info/">
                    <i class="fas fa-angle-right"></i> Shipping and Transit Time
                </a>
            </li>
            <li>
                <a href="/shipping-terms/">
                    <i class="fas fa-angle-right"></i> Shipping/Terms and Conditions
                </a>
            </li>
        </ul>
    </div>

    <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent" id="tab-payment">
        <ul class="help-links">
            <li>
                <a href="/payment/"><i class="fas fa-angle-right"></i> Credit Cards</a>
            </li>
            <li>
                <a href="/paypal/"><i class="fas fa-angle-right"></i> PayPal</a>
            </li>
        </ul>
    </div>

    <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent" id="tab-security">
        <ul class="help-links">
            <li>
                <a href="/secure-shopping/">
                    <i class="fas fa-angle-right"></i> Secure Shopping Guarantee
                </a>
            </li>
            <li>
                <a href="/policies/">
                    <i class="fas fa-angle-right"></i> Privacy Policy
                </a>
            </li>
            <li>
                <a href="/policies/">
                    <i class="fas fa-angle-right"></i> Terms and Conditions
                </a>
            </li>
        </ul>
    </div>

    <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent" id="tab-contact">
        <h2 class="text-center">
            Can't find the answer in our help center?
        </h2>

        <div class="help-contact-info">
            <p>
                Our #1 priority is customer service. If you have any questions or concerns about our products, please feel free to contact us.
            </p>
            <p>
                <b>General Questions:</b> <a href="mailto:support@bodyjewelry.com" class="link">support@bodyjewelry.com</a>
            </p>
            <p>
                <b>Inquiries:</b> <a href="mailto:admin@bodyjewelry.com" class="link">admin@bodyjewelry.com</a>
            </p>
            <p>
                <b>Customer Support:</b> <a href="mailto:support@bodyjewelry.com " class="link">support@bodyjewelry.com </a>
            </p>

            <h3>
                BodyJewelry.com
            </h3>

            <p>
                1755 Banks Rd.<br>
                Margate, FL 33063<br>
                Tel: 954-933-2259<br>
                Toll Free: 1-888-242-6166<br>
                Fax: 954-968-7896
            </p>
        </div>

        <p class="text-center">
            <a class="button hvr-fade button--primary button--large" href="/contact-us/">
                Contact Us
            </a>
        </p>
    </div>
</div>
