<div class="section-heading">
	<h3 class="section-title"><span>{{lang 'blog.home_page_title'}}</span></h3>
	<p class="section-subtitle">{{lang 'blog.home_page_description'}}</p>
</div>
<div    class="ch-grid"
        data-slick='{
            "dots": false,
            "arrows": true,
            "infinite": true,
            "slide": ".js-blog-slide",
            "prevArrow": ".js-blog-prev-arrow",
            "nextArrow": ".js-blog-next-arrow",
            "slidesToShow": 3,
            "slidesToScroll": 1,
            "responsive": [
                {
                "breakpoint": 992,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow": 2
                    }
                },
                {
                "breakpoint": 767,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow": 1
                    }
                }
                ]
            }'
>
    {{#if blog.recent_posts.length '>' 1}}
        <button aria-label="{{banners.bottom.length }}" class="js-blog-prev-arrow slick-prev slick-arrow"></button>
    {{/if}}
	{{#each blog.recent_posts}}
	    {{> components/blog/post_home  recent_posts=this columns=theme_settings.homepage_blog_posts_count}}
	{{/each}}
    {{#if blog.recent_posts.length '>' 1}}
        <button aria-label="{{banners.bottom.length }}" class="js-blog-next-arrow slick-next slick-arrow"></button>
    {{/if}}
</div>
<div class="more-post text-center"><a class="button" href="{{theme_settings.homepage_blog_posts_button_url}}">Read More Posts</a></div>
  

