<script type="text/javascript">
	(function e(){var e=document.createElement("script");
	e.type="text/javascript",e.async=true,
	e.src="//staticw2.yotpo.com/{{theme_settings.yotpo-app-key}}/widget.js";
	var t=document.getElementsByTagName("script")[0];
	t.parentNode.insertBefore(e,t)})();
</script>
<script>
	yotpoTrackConversionData = {orderId: "{{order.id}}", orderAmount: "%%ORDER_AMOUNT%%", orderCurrency: "USD"}
</script>
<noscript>
	<img src="//api.yotpo.com/conversion_tracking.gif?app_key={{theme_settings.yotpo-app-key}}&order_id=%%ORDER_ID%%&order_amount=%%ORDER_AMOUNT%%&order_currency=USD" width="1" height="1">
</noscript>
