<ul class="footer-payment-icon">
    {{#if theme_settings.epic_hide_lock_icon}}
    <li><i class="fas fa-lock"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_visa_icon}}
    <li><i class="fab fa-cc-visa"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_master_icon}}
    <li><i class="fab fa-cc-mastercard"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_discover_icon}}
    <li><i class="fab fa-cc-discover"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_amex_icon}}
    <li><i class="fab fa-cc-amex"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_stripe_icon}}
    <li><i class="fab fa-cc-stripe"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_paypal_icon}}
    <li><i class="fab fa-cc-paypal"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_apple_icon}}
    <li><i class="fab fa-apple-pay"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_android_icon}}
    <li><i class="fab fa-android"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_diners_icon}}
    <li><i class="fab fa-cc-diners-club"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_amazon_icon}}
    <li><i class="fab fa-amazon"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_gwallet_icon}}
    <li><i class="fab fa-google-wallet"></i></li>
    {{/if}}

    {{#if theme_settings.epic_hide_jcb_icon}}
    <li><i class="fab fa-cc-jcb"></i></li>
    {{/if}}
</ul>
