<div class="section-heading">
	<h1 class="section-title">{{lang 'products.featured' }}</h1>
	<p class="section-subtitle">{{lang 'products.featured_description' store_name=settings.store_name}}</p>
</div>

<ul data-equalizer class="productGrid productGrid--maxCol{{ columns }}" data-product-type="featured" {{#if settings.data_tag_enabled}} data-list-name="Featured Products" {{/if}}>
    {{#each products}}
        <li class="product">
                {{>components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
        </li>
    {{/each}}
</ul>
