<div class="tab-section">
    <ul class="tabs" data-tab role="tablist">
        {{#if product.related_products}}
            <li class="tab is-active" role="presentation">
                <a class="tab-title" href="#tab-related" role="tab" tabindex="0" aria-selected="true" controls="tab-related">{{lang 'products.related_products'}}</a>
            </li>
        {{/if}}
        {{#if product.similar_by_views}}
            <li class="tab {{#unless product.related_products}} is-active{{/unless}}" role="presentation">
                <a class="tab-title " href="#tab-similar" role="tab" tabindex="0" aria-selected="{{#if product.related_products}}false{{else}}true{{/if}}" controls="tab-similar">{{lang 'products.similar_by_views'}}</a>
            </li>
        {{/if}}
    </ul>
    
    <div class="tabs-contents">
    {{#if product.related_products}}
        <div role="tabpanel" aria-hidden="false" class="tab-content has-jsContent is-active" id="tab-related">
            {{#if settings.data_tag_enabled}}
                {{> components/products/carousel products=product.related_products columns=4 customArrowClass='js-related-product-arrow' list="Related Products"}}
            {{else}}
                {{> components/products/carousel products=product.related_products columns=4 customArrowClass='js-related-product-arrow'}}
            {{/if}}
        </div>
    {{/if}}
    
    {{#if product.similar_by_views}}
        <div role="tabpanel" aria-hidden="{{#if product.related_products}}true{{else}}false{{/if}}" class="tab-content has-jsContent  {{#unless product.related_products}} is-active{{/unless}}" id="tab-similar">
                {{> components/products/carousel products=product.similar_by_views columns=4 list="Customers Also Viewed" customArrowClass='js-viewed-product-arrow' }}
    
        </div>
    {{/if}}
    </div>
</div>


<div class="review-ShoperAprove-section">
    <!-- Shopper Approved Review Section - templates/components/products/tabs -->
    <ul class="tabs" data-tab role="tablist">
        <!-- Shopper Approved Review Tab - templates/components/products/tabs -->
        <li class="tab is-active">
            <a class="tab-title productView-sareviewTabLink" href="#tab-sareviews">
                {{lang 'products.review_products'}}
            </a>
        </li>
        <!-- END Shopper Approved Review Tab - templates/components/products/tabs -->
    </ul>

    <div class="tabs-contents">
        <!-- Shopper Approved Review Tab - templates/components/products/description-tabs -->
            <div role="tabpanel" class="tab-content has-jsContent  is-active"  id="tab-sareviews">
                <div id="SA_review_wrapper"></div><script type="text/javascript">var sa_product = '{{product.sku}}'; var sa_interval = 5000;function saLoadScript(src) { var js = window.document.createElement('script'); js.src = src; js.type = 'text/javascript'; document.getElementsByTagName("head")[0].appendChild(js); } if (typeof(shopper_first) == 'undefined') saLoadScript('//www.shopperapproved.com/widgets/11580/product/'+sa_product+'/product-widget/00akfyQYTRS2.js'); </script>
        </div>
        <!-- END Shopper Approved Review Tab - templates/components/products/description-tabs -->
    </div>
    <!-- Shopper Approved Review Section - templates/components/products/tabs -->
</div>
